script(defer type="text/javascript", src="js/main.js")
<!--[if gte IE 10 | !IE ]><!-->
script var cb=function(){var e=document.createElement("link");e.rel="stylesheet",e.href="css/main.css";var a=document.getElementsByTagName("head")[0];a.parentNode.insertBefore(e,a)},raf=requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame;raf?raf(cb):window.addEventListener("load",cb);
<![endif]-->
script(defer).
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-17701242-11', 'auto');
  ga('send', 'pageview');
